<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Your reminder was deleted</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Back to reminders →", reminders_path %>
  </div>
</div>
