<%= render 'reminders/form', reminder: Reminder.new.decorate %>

<hr>

<table class="table table-schedule">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Content</th>
      <th>Recipient</th>
      <th>Medium</th>
    </tr>
  </thead>
  <%= render @reminders %>
</table>
