.app {
  width: 960px;
  padding-top: 64px;
}

.header {
  margin-bottom: 24px;

  > .h1 {
    margin-right: 12px;
  }

  > .h5 {
    color: #999;
  }
}

// Schedule

.table-schedule {
  th:nth-child(1) {
    border-color: transparent;
  }

  td:nth-child(1) {
    position: absolute;
    left: -24px;
    border-color: transparent;
  }

  tr:hover {
    .edit-reminder {
      color: $link-color;
    }
  }

  th:nth-child(2) {
    width: 15%;
  }

  th:nth-child(4) {
    width: 25%;
  }

  th:nth-child(5) {
    width: 13%;
  }
}

.edit-reminder {
  color: #999;
}

.reminder-methods {
  > .glyphicon {
    @include opacity(0.2);
  }

  > .medium-enabled {
    @include opacity(1);
  }
}

.btn-hover-danger:hover {
  @extend .btn-danger;
}
